.complete {text-decoration: line-through;}
.milestone {line-height: 2em !important; font-size: 1.2em !important;}
.vContact {padding: 2% 5%;margin: 5%;background-color: #eee;}
ul.contact, ul.contact li {margin-left: 0;list-style: none;}
ul.contact li { margin-bottom: 0.1em;}
ul.contact li.user { margin-bottom: 2em;}

.row-fluid .newRow {margin-left: 0;}

.contactItemContainer {
	padding: 0 1em;
	margin-bottom: 1em;
	height: 880px;
	border: 0.25em solid transparent;
}
.contactDetails {
	padding: 0 1em;
	margin: 1em 0;
	border: 1px solid #aaa;
	background-color: #f7f7f7;
	height: 520px;
}
.companyDetails {
	height: 295px;
}

.btn-toolbar {
	text-align: center;
}

.temp79 { /* Hot */
	background: #ffc7ca;
	border: 0.25em solid #FF1B26;
}
.temp80 { /* Warm */
	background: #ffe0c7;
	border: 0.25em solid #FF851E;
}
.temp81 { /* Cool */
	background: #def1ff;
	border: 0.25em solid #75C4FF;
}
.temp82 { /* Cold */
	background: #bed5e8;
	border: 0.25em solid #4099E7;
}
.temp83 { /* Still to contact */
	background: #ccdeba;
	border: 0.25em solid #95DE51;
}
.temp84 { /* Speculative meeting */
	background: #fff2bf;
	border: 0.25em solid #FFCC00;
}

.notes {
}
.notes dd {
	background-color: #fff;
	border: 1px solid #eee;
	height: 5em;
	overflow-y: scroll;
	padding: 0.25em;
}

#selectPotentialAgency {margin-bottom: 20px}